.btn-send-form {
  border: 1px solid;
  background-color: white;
  padding: 0.5rem 2rem;
}
.btn-send-form:hover {
  color: var(--color_1);
  border: 1px solid var(--color_1);
  background-color: transparent;
  transition: var(--transition);
}

.section.gestion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
.gestion label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
}

.gestion form {
  display: flex;
  gap: 3rem;
}

textarea {
  padding: 0;
}
